In [1]:
import pandas as pd
import sqlite3

In [5]:
menu_df = pd.read_csv("restaurant_menu.csv")
sales_df = pd.read_csv("menu_sales_data.csv")

menu_df.head()

   item_id    category          item_name  price  prep_time_minutes
0      101  Appetizers       Garlic Knots   8.99                  5
1      102  Appetizers       Loaded Fries  12.50                  8
2      103  Appetizers         Bruschetta  10.50                  6
3      104  Appetizers  Stuffed Mushrooms  11.00                  7
4      105  Appetizers      Buffalo Wings  13.50                  9

In [6]:
sales_df.head()

,item_id,item_name,units_sold_last_month,profit_margin_percent,COGS
0,101,Garlic Knots,159,46,10.87
1,102,Loaded Fries,490,38,4.49
2,103,Bruschetta,46,43,12.32
3,104,Stuffed Mushrooms,62,64,6.36
4,105,Buffalo Wings,361,75,15.86

In [7]:
conn = sqlite3.connect("pos.db")

In [9]:
menu_df.to_sql("restaurant_menu", conn, if_exists="replace", index=False)
sales_df.to_sql("menu_sales", conn, if_exists="replace", index=False)

print("Data loaded into SQLite")

Data loaded into SQLite

In [10]:
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

              name
0  restaurant_menu
1       menu_sales

In [11]:
query = """
SELECT
  m.item_name,
  m.category,
  m.price,
  s.units_sold_last_month,
  s.profit_margin_percent
FROM restaurant_menu m
JOIN menu_sales s
ON m.item_id = s.item_id
"""
pd.read_sql(query, conn)

,item_name,category,price,units_sold_last_month,profit_margin_percent
0,Garlic Knots,Appetizers,8.99,159,46
1,Loaded Fries,Appetizers,12.50,490,38
2,Bruschetta,Appetizers,10.50,46,43
3,Stuffed Mushrooms,Appetizers,11.00,62,64
4,Buffalo Wings,Appetizers,13.50,361,75
5,Spinach Artichoke Dip,Appetizers,12.00,151,52
6,Fried Calamari,Appetizers,14.00,337,60
7,Mini Quesadillas,Appetizers,10.00,420,40
8,Caprese Skewers,Appetizers,9.50,290,59
9,Nacho Platter,Appetizers,13.00,430,76
10,Steak Frites,Main_Courses,28.00,486,81
11,Veggie Burger,Main_Courses,16.50,348,68
12,Grilled Salmon,Main_Courses,26.00,379,45
13,Chicken Alfredo,Main_Courses,22.00,498,81
14,Mushroom Risotto,Main_Courses,19.50,35,70
15,Beef Tacos,Main_Courses,17.00,193,44
16,BBQ Ribs,Main_Courses,27.00,107,35
17,Margherita Pizza,Main_Courses,15.00,445,81
18,Seafood Paella,Main_Courses,30.00,379,75
19,Paneer Butter Masala,Main_Courses,18.00,484,62
20,Thai Green Curry,Main_Courses,21.00,179,41
21,Lamb Chops,Main_Courses,32.00,261,51
22,Stuffed Bell Peppers,Main_Courses,17.50,136,85
23,Chocolate Lava Cake,Desserts,9.00,409,82
24,Seasonal Fruit Plate,Desserts,7.50,304,44
25,Cheesecake,Desserts,8.50,213,82
26,Tiramisu,Desserts,9.50,414,55
27,Ice Cream Sundae,Desserts,7.00,229,53
28,Brownie Sundae,Desserts,8.00,164,71
29,Lemon Tart,Desserts,8.50,460,40
30,Panna Cotta,Desserts,9.00,90,37
31,Banana Split,Desserts,7.50,56,48
32,Molten Chocolate Mousse,Desserts,10.00,195,81
33,Fresh Lemonade,Beverages,4.50,383,49
34,Iced Coffee,Beverages,5.00,160,51
35,Mango Smoothie,Beverages,6.00,52,84
36,Hot Chocolate,Beverages,5.50,304,50
37,Herbal Tea,Beverages,4.00,121,71
38,Sparkling Water,Beverages,3.00,248,72
39,Orange Juice,Beverages,4.50,448,41
40,Cold Brew,Beverages,5.50,54,51
41,Milkshake,Beverages,6.50,188,66
42,House Iced Tea,Beverages,4.50,401,40
43,French Fries,Sides,5.50,494,84
44,Garlic Bread,Sides,6.00,187,49
45,Coleslaw,Sides,4.50,406,70
46,Mashed Potatoes,Sides,6.50,466,59
47,Steamed Vegetables,Sides,5.00,126,78
48,Side Salad,Sides,5.50,169,72
49,Sweet Potato Fries,Sides,6.00,376,79
50,Corn on the Cob,Sides,4.50,186,75
51,Mac and Cheese,Sides,7.00,167,37
52,Rice Pilaf,Sides,5.00,377,64

In [12]:
query = """
SELECT
  m.item_name,
  m.price * s.units_sold_last_month AS revenue
FROM restaurant_menu m
JOIN menu_sales s
ON m.item_id = s.item_id
ORDER BY revenue DESC
"""
pd.read_sql(query, conn)

                  item_name   revenue
0              Steak Frites  13608.00
1            Seafood Paella  11370.00
2           Chicken Alfredo  10956.00
3            Grilled Salmon   9854.00
4      Paneer Butter Masala   8712.00
5                Lamb Chops   8352.00
6          Margherita Pizza   6675.00
7              Loaded Fries   6125.00
8             Veggie Burger   5742.00
9             Nacho Platter   5590.00
10            Buffalo Wings   4873.50
11           Fried Calamari   4718.00
12         Mini Quesadillas   4200.00
13                 Tiramisu   3933.00
14               Lemon Tart   3910.00
15         Thai Green Curry   3759.00
16      Chocolate Lava Cake   3681.00
17               Beef Tacos   3281.00
18          Mashed Potatoes   3029.00
19                 BBQ Ribs   2889.00
20          Caprese Skewers   2755.00
21             French Fries   2717.00
22     Stuffed Bell Peppers   2380.00
23     Seasonal Fruit Plate   2280.00
24       Sweet Potato Fries   2256.00
25             Orange Juice   2016.00
26  Molten Chocolate Mousse   1950.00
27               Rice Pilaf   1885.00
28                 Coleslaw   1827.00
29    Spinach Artichoke Dip   1812.00
30               Cheesecake   1810.50
31           House Iced Tea   1804.50
32           Fresh Lemonade   1723.50
33            Hot Chocolate   1672.00
34         Ice Cream Sundae   1603.00
35             Garlic Knots   1429.41
36           Brownie Sundae   1312.00
37                Milkshake   1222.00
38           Mac and Cheese   1169.00
39             Garlic Bread   1122.00
40               Side Salad    929.50
41          Corn on the Cob    837.00
42              Panna Cotta    810.00
43              Iced Coffee    800.00
44          Sparkling Water    744.00
45         Mushroom Risotto    682.50
46        Stuffed Mushrooms    682.00
47       Steamed Vegetables    630.00
48               Herbal Tea    484.00
49               Bruschetta    483.00
50             Banana Split    420.00
51           Mango Smoothie    312.00
52                Cold Brew    297.00

In [13]:
query = """
SELECT
  m.item_name,
  ROUND(
    (m.price * s.units_sold_last_month)
    * (s.profit_margin_percent / 100.0), 2
  ) AS profit
FROM restaurant_menu m
JOIN menu_sales s
ON m.item_id = s.item_id
ORDER BY profit DESC
"""
pd.read_sql(query, conn)

                  item_name    profit
0              Steak Frites  11022.48
1           Chicken Alfredo   8874.36
2            Seafood Paella   8527.50
3          Margherita Pizza   5406.75
4      Paneer Butter Masala   5401.44
5            Grilled Salmon   4434.30
6                Lamb Chops   4259.52
7             Nacho Platter   4248.40
8             Veggie Burger   3904.56
9             Buffalo Wings   3655.13
10      Chocolate Lava Cake   3018.42
11           Fried Calamari   2830.80
12             Loaded Fries   2327.50
13             French Fries   2282.28
14                 Tiramisu   2163.15
15     Stuffed Bell Peppers   2023.00
16          Mashed Potatoes   1787.11
17       Sweet Potato Fries   1782.24
18         Mini Quesadillas   1680.00
19          Caprese Skewers   1625.45
20  Molten Chocolate Mousse   1579.50
21               Lemon Tart   1564.00
22         Thai Green Curry   1541.19
23               Cheesecake   1484.61
24               Beef Tacos   1443.64
25                 Coleslaw   1278.90
26               Rice Pilaf   1206.40
27                 BBQ Ribs   1011.15
28     Seasonal Fruit Plate   1003.20
29    Spinach Artichoke Dip    942.24
30           Brownie Sundae    931.52
31         Ice Cream Sundae    849.59
32           Fresh Lemonade    844.51
33            Hot Chocolate    836.00
34             Orange Juice    826.56
35                Milkshake    806.52
36           House Iced Tea    721.80
37               Side Salad    669.24
38             Garlic Knots    657.53
39          Corn on the Cob    627.75
40             Garlic Bread    549.78
41          Sparkling Water    535.68
42       Steamed Vegetables    491.40
43         Mushroom Risotto    477.75
44        Stuffed Mushrooms    436.48
45           Mac and Cheese    432.53
46              Iced Coffee    408.00
47               Herbal Tea    343.64
48              Panna Cotta    299.70
49           Mango Smoothie    262.08
50               Bruschetta    207.69
51             Banana Split    201.60
52                Cold Brew    151.47

In [14]:
query = """
SELECT
  m.item_name,
  s.units_sold_last_month AS popularity,
  s.profit_margin_percent AS margin
FROM restaurant_menu m
JOIN menu_sales s
ON m.item_id = s.item_id
ORDER BY popularity DESC
"""
pd.read_sql(query, conn)

                  item_name  popularity  margin
0           Chicken Alfredo         498      81
1              French Fries         494      84
2              Loaded Fries         490      38
3              Steak Frites         486      81
4      Paneer Butter Masala         484      62
5           Mashed Potatoes         466      59
6                Lemon Tart         460      40
7              Orange Juice         448      41
8          Margherita Pizza         445      81
9             Nacho Platter         430      76
10         Mini Quesadillas         420      40
11                 Tiramisu         414      55
12      Chocolate Lava Cake         409      82
13                 Coleslaw         406      70
14           House Iced Tea         401      40
15           Fresh Lemonade         383      49
16           Grilled Salmon         379      45
17           Seafood Paella         379      75
18               Rice Pilaf         377      64
19       Sweet Potato Fries         376      79
20            Buffalo Wings         361      75
21            Veggie Burger         348      68
22           Fried Calamari         337      60
23     Seasonal Fruit Plate         304      44
24            Hot Chocolate         304      50
25          Caprese Skewers         290      59
26               Lamb Chops         261      51
27          Sparkling Water         248      72
28         Ice Cream Sundae         229      53
29               Cheesecake         213      82
30  Molten Chocolate Mousse         195      81
31               Beef Tacos         193      44
32                Milkshake         188      66
33             Garlic Bread         187      49
34          Corn on the Cob         186      75
35         Thai Green Curry         179      41
36               Side Salad         169      72
37           Mac and Cheese         167      37
38           Brownie Sundae         164      71
39              Iced Coffee         160      51
40             Garlic Knots         159      46
41    Spinach Artichoke Dip         151      52
42     Stuffed Bell Peppers         136      85
43       Steamed Vegetables         126      78
44               Herbal Tea         121      71
45                 BBQ Ribs         107      35
46              Panna Cotta          90      37
47        Stuffed Mushrooms          62      64
48             Banana Split          56      48
49                Cold Brew          54      51
50           Mango Smoothie          52      84
51               Bruschetta          46      43
52         Mushroom Risotto          35      70