In [1]:
import pandas as pd
import sqlite3

In [2]:
menu_df = pd.read_csv("restaurant_menu.csv")
sales_df = pd.read_csv("menu_sales_data.csv")

In [3]:
menu_df.head()

   item_id    category          item_name  price  prep_time_minutes
0      101  Appetizers       Garlic Knots   8.99                  5
1      102  Appetizers       Loaded Fries  12.50                  8
2      103  Appetizers         Bruschetta  10.50                  6
3      104  Appetizers  Stuffed Mushrooms  11.00                  7
4      105  Appetizers      Buffalo Wings  13.50                  9

In [4]:
sales_df.head()

,item_id,item_name,units_sold_last_month,profit_margin_percent,COGS
0,101,Garlic Knots,159,46,10.87
1,102,Loaded Fries,490,38,4.49
2,103,Bruschetta,46,43,12.32
3,104,Stuffed Mushrooms,62,64,6.36
4,105,Buffalo Wings,361,75,15.86

In [7]:
conn = sqlite3.connect("../data/processed/pos.db")

OperationalError: unable to open database file

In [8]:
import os
os.getcwd()

'/Users/ananyakashyap/Desktop/ai-menu-analyst/ingestion'